<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <h1>Contactanos</h1>
    <form action="/contacto/" method="POST">{% csrf_token %}
        <p>Asunto: <input type="text" name="asunto"></p>
        <p>Email: <input type="email" name="email"></p>
        <p>Mensaje: <textarea name="mensaje" cols="45" rows="15"></textarea></p>
        <input type="submit" value="Enviar"></button>
    </form>
</body>
</html>