{% extends "Proyecto_web_app/base.html" %}

{% load static %}

{% block title %} Blog {% endblock %}

{% block content %}

{% for blog in blogs %}

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{blog.imagen.url}}" alt="imagen del servicio" style="width: 70%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{blog.titulo}}</span>
            <span class="section-heading-upper">{{blog.contenido}}</span>
            <span class="section-heading-upper">{{blog.categorias}}</span>
          </h2>
          <div style="text-align: left;">
            Autor: {{blog.autor}}
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endfor %}

  <section>
    <div style="width: 75%; text-align: center; margin: auto; color: white;">
      
      {% for blog in blogs %}

        {% for categoria in blog.categorias.all %}
      
          <a href="{% url 'categoria' categoria.id %}" style="color: white; text-decoration: underline; margin: 10px;">{{categoria.nombre}}</a>
        
        {% endfor %}

      {% endfor %}

    </div>
  </section>

{% endblock %}

    

    