<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear tarea</title>
</head>
<body>
    <h1>Crear Tarea</h1>
    <form action="/crear_tarea" method="POST">{% csrf_token %}
        <p>Titulo: <input type="text" name="titulo"></p>
        <p>Descripcion: <textarea name="descripcion" cols="45" rows="15"></textarea></p>
        <input type="submit" value="Enviar"></button>
    </form>
</body>
</html>