<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
</head>

<style>
    #navbar{
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
    }
 
    #navbar li {
        display: inline;
        margin: 0 20px;
    }

</style>

<body>
    <ul id="navbar">
        <li>Home</li>
        <li>Services</li>
        <li>Contacts</li>
        <li>Who are we</li>
        <li>About</li>
    </ul>
</body>
</html>